.container {
    display: flex;
    max-width: 720px;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

.left {
    flex: 1 0 0;
    order: 1;
}

.right {
    flex: 1 0 0;
    order: 3;
}

.center {
    flex: 2 0 0;
    order: 2;
    background-color: #DDD;
    border-radius: 6px;
    margin: 0 10px;
    padding: 0;
    box-shadow: 2px 2px #9A1000;
    color: #121212;
}

.card {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
    background-color: #333;
    border-radius: 6px;
    margin: 0 auto 10px auto;
    padding: 5px;
    box-shadow: 2px 2px #9A1000;
    color: #DDD;
    transition:0.3s;
}

.card:hover {
    background-color: #3A3A3A;
    transform: scale(1.02);
}

.card h1 {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16px;
}

.card ul {
    list-style: none;
    padding: 0;
    margin: 0;
}