.container {
    display: flex;
    max-width: 750px;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.left {
    flex: 1 0 0;
    order: 1;
}

.right {
    flex: 1 0 0;
    order: 3;
}

.center {
    flex: 2 0 0;
    order: 2;
}

.center-header {
    font-family: "Goethe";
    text-align: center;
    color: #9A1000;
}

.center-content img {
    display: block;
    margin: 0 auto;
    width: 65%;
    object-fit: cover;
    overflow: hidden;
}

.center-content {
    font-family: "CMU Typewriter Text";
    font-size: 14px;
    background-color: #DDD;
    border-radius: 6px;
    margin: 0 10px;
    padding: 10px;
    box-shadow: 2px 2px #580900;
    color: #121212;
}

.center-content h1 {
    font-family: "CMU Typewriter Text";
    font-size: 14px;
}

.card {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
    background-color: #222;
    border-radius: 6px;
    margin: 0 auto 10px auto;
    padding: 5px;
    padding-bottom: 10px;
    box-shadow: 2px 2px #580900;
    color: #DDD;
}

.card h1 {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #D39C00;
    margin-bottom: 10px;
}

.card ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#top-games li, #recent-games li {
    font-size: 10px;
    background: #DDD;
    margin: 3px;
    border-radius: 3px;
    padding: 3px;
}

#top-games li:nth-child(even), #recent-games li:nth-child(even) {
    background: #BBB;
}

#top-games li hr, #recent-games li hr {
    border-style: none;
    border-top: 1px solid;
    color: #121212;
    width: 100%;
    padding: 0;
    margin: 0;
}

a:link {
    text-decoration: none;
}

#top-games a:link, #recent-games a:link, .card a:link {
    display: block;
    text-decoration: none;
    color: #1070BF;
    transition: 0.2s;
}

#top-games a:hover, #recent-games a:hover, .card a:hover {
    color: #F049FF;
    transition: 0.2s;
}

footer p {
    margin-top: 0;
}

footer {
    max-width: 750px;
}

#live-users {
    text-align: center;
}

#server-stats {
    text-align: center;
}

#latest-release {
    text-align: center;
}
