@font-face {
    font-family: 'Goethe';
    src: url('GoetheBold.eot');
    src: url('GoetheBold.eot?#iefix') format('embedded-opentype'),
        url('GoetheBold.woff2') format('woff2'),
        url('GoetheBold.woff') format('woff'),
        url('GoetheBold.ttf') format('truetype'),
        url('GoetheBold.svg#GoetheBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

