@font-face {
    font-family: 'Goethe';
    src: url('../font/GoetheBold.eot');
    src: url('../font/GoetheBold.eot?#iefix') format('embedded-opentype'),
        url('../font/GoetheBold.woff2') format('woff2'),
        url('../font/GoetheBold.woff') format('woff'),
        url('../font/GoetheBold.ttf') format('truetype'),
        url('../font/GoetheBold.svg#GoetheBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'CMU Typewriter Text';
    src: url('../font/CMUTypewriter-Italic.woff2') format('woff2'),
        url('../font/CMUTypewriter-Italic.woff') format('woff'),
        url('../font/CMUTypewriter-Italic.ttf') format('truetype'),
        url('../font/CMUTypewriter-Italic.svg#CMUTypewriter-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'CMU Typewriter Text';
    src: url('../font/CMUTypewriter-Regular.woff2') format('woff2'),
        url('../font/CMUTypewriter-Regular.woff') format('woff'),
        url('../font/CMUTypewriter-Regular.ttf') format('truetype'),
        url('../font/CMUTypewriter-Regular.svg#CMUTypewriter-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CMU Typewriter Text';
    src: url('../font/CMUTypewriter-Bold.woff2') format('woff2'),
        url('../font/CMUTypewriter-Bold.woff') format('woff'),
        url('../font/CMUTypewriter-Bold.ttf') format('truetype'),
        url('../font/CMUTypewriter-Bold.svg#CMUTypewriter-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'CMU Typewriter Text';
    src: url('../font/CMUTypewriter-BoldItalic.woff2') format('woff2'),
        url('../font/CMUTypewriter-BoldItalic.woff') format('woff'),
        url('../font/CMUTypewriter-BoldItalic.ttf') format('truetype'),
        url('../font/CMUTypewriter-BoldItalic.svg#CMUTypewriter-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

body {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #100C08;
}
h1 {
    font-family: "Goethe";
    margin: 5px auto;
    text-size: 20px;
    text-align: center;
}
h2 {
    color: #D39C00;
    font-size: 18px;
    font-weight: normal;
    padding: 0 20px;
}
ul {
    list-style-type: none;
    margin: 0;
}
#usertitle {
    color: #D39C00;
    margin-bottom: 10px;
}
#header {
    color: #9A1000;
    max-width: 720px;
    margin: 10px auto 10px auto;
    font-family: "Goethe";
    letter-spacing: 2px;
    text-align: center;
    font-size: 16px;
}
#header img {
    display:block;
    margin:auto;
}
#header a:link, a:visited, a:active {
    color: #006EC2;
    text-decoration: none;
}
#header a:hover {
    color: #F049FF;
}
footer {
    color: #9A1000;
    font-size: 12px;
    max-width: 720px;
    margin: 0 auto;
    text-align: right;
}
#graphs, #stats {
    background-color: #333;
    border-radius: 8px;
    max-width: 720px;
    margin: 0 auto;
    padding: 0 10px;
    box-shadow: 3px 3px #9A1000;
}
#stats-card {
    background-color: #333;
    border-radius: 8px;
    max-width: 720px;
    margin: 0 auto 10px auto;
    padding: 0 10px 10px 10px;
    box-shadow: 3px 3px #9A1000;
    color: #DDD;
    transition:0.3s;
}
#stats-card:hover {
    background-color: #3A3A3A;
    transform: scale(1.02);
}
#pagination {
    max-width: 720px;
    margin: 0 auto;
    text-align: center;
}
#pagination a {
    display: inline-block;
    color: #D39C00;
    text-decoration: none;
    background-color: #333;
    border-radius: 8px;
    width: 75px;
    margin: 0 5px 0 5px;
    padding: 10px;
    box-shadow: 3px 3px #006EC2;
}
#pagination a:hover {
    color: #F049FF;
    background-color: #444;
}
#stats {
    color: #DDD;
    margin-bottom: 10px;
}
#stats a {
    color: #D39C00;
}
#stats a:hover {
    color: #F049FF;
}
.chart {
    min-width: 320px;
    max-width: 700px;
    height: 200px;
    margin: 0 auto;
}
.alignleft {
    float: left;
}
.alignright {
    float: right;
}
#statsleft {
    padding-left: 20px;
    padding-bottom: 5px;
}
#statsright {
    padding-right: 20px;
    padding-bottom: 5px;
    text-align: right;
}
#submitter {
    color: #2DA800;
    padding-right: 20px;
    margin: 0 auto;
}
#statsfooter {
    padding-left: 20px;
    font-size: 12px;
    min-width: 320px;
    max-width: 700px;
    margin: 0 auto;
}
#statsfooter a {
    color: #006EC2;
}
#statsfooter a:hover {
    color: #F049FF;
}
#about, #download {
    background-color: #DDD;
    font-family: "CMU Typewriter Text";
    font-size: 14px;
    border-radius: 8px;
    max-width: 690px;
    margin: 0 auto;
    padding: 0 10px;
    box-shadow: 3px 3px #9A1000;
    padding: 15px;
}
#about h1, #download h1{
    font-family: "CMU Typewriter Text";
    font-size: 14px;
    text-align: center;
}
#about ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#about a, #download a {
    color: #000;
}
#download ul {
    list-style-type: circle;
}
#logo:hover {
    -webkit-animation: action 1s infinite alternate;
    animation: action .6s infinite alternate;
}
@-webkit-keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-3px); }
}
@keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-3px); }
}
