<!DOCTYPE html>
<html>
  <head>
    <title>GAME LOG</title>
    <script src="{{ url_for('bower.static', filename='highcharts/highcharts.js') }}"></script>
    <script src="{{ url_for('bower.static', filename='highcharts/js/themes/dark-unica.js') }}"></script>
    <script src="{{ url_for('bower.static', filename='jquery/dist/jquery.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylesheet.css') }}">
  </head>
  <body>
    <div id="container" style="width:100%; height:400px;"></div>
      user: {{player_name}} ({{player_id}})<br/>
      time: {{game_time}}<br/>
      death: {{death_type}}<br/>
      gems: {{gems}}<br/>
      homing daggers: {{homing_daggers}}<br/>
      accuracy: {{accuracy}}%<br/>
      enemies alive: {{enemies_alive}}<br/>
      enemies killed: {{enemies_killed}}<br/>

    <script>
    $(function () {
        var myChart = Highcharts.chart('container', {
            chart: {
                type: 'line'
            },
            title: {
                text: 'GAME LOG'
            },
            xAxis: {
                title: {
                    text: 'TIME IN SECONDS'
                }
            },
            legend: {
                itemStyle: {
                    fontSize: '20px'
                }
            },
            tooltip: {
                <!-- formatter: function () { -->
                <!--     var s = '<b>' + this.x + ' seconds:</b>'; -->
                <!--     $.each(this.points, function () { -->
                <!--         s += '<br/>' + this.y + ' Homing Daggers'; -->
                <!--     }); -->
                <!--     return s; -->
                <!-- }, -->
                shared: true
            },
            yAxis: {
                title: {
                    text: 'GAME STATS'
                }
            },
            plotOptions: {
                series: {
                    pointStart: 0
                }
            },
            colors: ['red', 'blue', 'yellow', 'green', 'orange'],
            series: [
                {
                    name: 'GEMS',
                    data: {{gems_list}}
                },
                {
                    name: 'HOMING DAGGERS',
                    data: {{homing_daggers_list}}
                },
                {
                    name: 'ACCURACY',
                    data: {{accuracy_list}}
                },
                {
                    name: 'ENEMIES ALIVE',
                    data: {{enemies_alive_list}}
                },
                {
                    name: 'ENEMIES KILLED',
                    data: {{enemies_killed_list}}
                }
            ],
            credits: {
                enabled: false
            },
            exporting: {
                chartOptions: {
                    chart: {
                        style: {
                            fontFamily: 'Goethe'
                        }
                    }
                }
            }
        });
    });

    Highcharts.setOptions({
        chart: {
            style: {
                fontFamily: 'Goethe'
            }
        }
    });
    </script>
  </body>
</html>
