{% extends "base.html" %}
{% block title %}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}

        <h1 id="usertitle">Recent Games</h1>
    {% for game in games.items %}
        <a href="{{ url_for('game_log', game_number=game.id) }}">
        <div id="stats-card">
            <h2 class="alignleft">Game {{game.id}}</h1>
            <h2 class="alignright">{{game.username}} ({{game.player_id}})</h1>
            <div style="clear: both;"></div>
            <ul class="alignleft" id="statsleft">
                <li>Time: {{game.game_time|round(4)}}</li>
                <li>Gems: {{game.gems}}</li>
                <li>Homing Daggers: {{game.homing_daggers}}</li>
                <li>Enemies Alive: {{game.enemies_alive}}</li>
                <li>Enemies Killed: {{game.enemies_killed}}</li>
            </ul>
            <ul class="alignright" id="statsright">
                {% if game.death_type == -1 %}
                    <li>Death: RESTART</li>
                {% else %}
                    <li>Death: {{death_types[game.death_type]}}</li>
                {% endif %}
                {% if game.daggers_fired != 0 %}
                    <li>Accuracy: {{((game.daggers_hit/game.daggers_fired)*100)|round(2)}}%</li>
                {% else %}
                    <li>Accuracy: 0.0%</li>
                {% endif %}
                <li>Daggers Hit: {{game.daggers_hit}}</li>
                <li>Daggers Fired: {{game.daggers_fired}}</li>
                <li>{{game.time_stamp|time_ago}}</li>
            </ul>
            <div style="clear: both;"></div>
        </div>
        </a>
    {% endfor %}
        <div id="pagination">
        {% if games.has_next %}
            <a href="{{ url_for('games_page', page_num=games.next_num) }}">Prev</a>    
        {% endif %}
        {% if games.has_prev %}
            <a href="{{ url_for('games_page', page_num=games.prev_num) }}">Next</a>    
        {% endif %}
        </div>
{% endblock %}
