{% extends "base.html" %}
{% block title %}ddstats{% endblock %}
{% block head %}
    {{ super() }}
    <script src="{{ url_for('bower.static', filename='jquery/dist/jquery.min.js') }}"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}
{% block body %}
    <div class="container">
        <div class="left">
            <div id="live-users" class="card">
                <h1>Live Users</h1>
                    <ul id="live-users-list">
                    {% if live_users|length > 0 %}
                        {% for user in live_users %}
                        <li><a href="{{ url_for('user_page', user_id=user.player_id) }}">{{ user.username }}</a></li>
                        {% endfor %}
                    {% else %}
                        <li>No users are live.</li>
                    {% endif %}
                    </ul>
            </div>
            <div id="server-stats" class="card">
                <h1>Server Stats</h1>
                <span id="online-status">connecting...</span>
            </div>
            <div id="latest-release" class="card">
                <h1>Latest Release</h1>
                <a href="{{ url_for('releases') }}">v{{ current_version }}</a>
            </div>
        </div>
        <div class="center">
            <div class="center-header">
                <marquee>MOTD: {{ motd }}</marquee>
            </div>
            <div class="center-content">
                <h1>NEWS</h1>
                <span id="date">8.16.18</span>
                <p>
                    There is now a home page for ddstats! That's exciting. There's not much news to discuss. I am currently working on a complete rewrite of the ddstats.exe program. The code base for the program was becoming somewhat of a nuissance, so in order to keep adding new fun things, I decided to scrap the old code and build it nice and neat from the ground up. I will be posting any information I have about updates and that sort of thing here on the main page. You should also get notifications of any sort of update within the program it self. Aside from that, enjoy the website, enjoy the program, enjoy ddstats, and enjoy Devil Daggers!
                </p>
                <span id="signature">*vhs</span>
                <img src="{{ url_for('static', filename='img/sketch_skull4.png') }}">
                <span style="display: block; text-align: center;">***</span>
            </div>
        </div>
        <div class="right">
            <div id="top-games" class="card">
                <h1>Top Games v3</h1>
                <ul>
                    {% for game in top_games %}
                    <li><a href="{{ url_for('game_log', game_number=game.id) }}">{{ loop.index }}. <strong>{{ game.username }}</strong><hr>{{ game.game_time | numberFormat(4) }}s</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div id="recent-games" class="card">
                <h1>Recent Games</h1>
                <ul>
                    {% for game in recent_games %}
                    <li><a href="{{ url_for('game_log', game_number=game.id) }}"><strong>{{ game.username }}</strong><hr>{{ game.game_time | numberFormat(4) }}s - {{ game.time_stamp|time_ago }}</a></li>
                    {% endfor %} 
                </ul>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function(){

            var socket = io.connect('https://' + document.domain + ':' + location.port + '/index');

            socket.on('connect', () => {
                $('#online-status').text('online');
            });

            socket.on('live_users_update', (player_list) => {
                if (player_list.length < 1 || player_list == undefined) {
                    $('#live-users-list').html('<li>No users are live.</li>');
                } else {
                    for (var id in player_list) {
                        $('#live-users-list').html("<li><a href=\"https://ddstats.com/user/" + id + "\">" + player_list[id].name +"</a></li>");
                    }
                }
            });

        });
    </script>
{% endblock %}
