{% extends "base.html" %}
{% block title %}ddstats{% endblock %}
{% block head %}
    {{ super() }}
    <script src="{{ url_for('bower.static', filename='jquery/dist/jquery.min.js') }}"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}
{% block body %}
    <div class="container">
        <div class="left">
            <div id="live-users" class="card">
                <h1>Live Users</h1>
                {% if live_users|length > 0 %}
                    {% for user in live_users %}
                    <ul>
                        <li><a href="{{ url_for('user_page', user_id=user.player_id) }}">{{ user.username }}</a></li>
                    </ul>
                    {% endfor %}
                {% else %}
                No users are live.
                {% endif %}
            </div>
            <div id="server-stats" class="card">
                <h1>Server Stats</h1>
                <span id="online-status">connecting...</span>
            </div>
            <div id="latest-release" class="card">
                <h1>Latest Release</h1>
                <a href="{{ url_for('releases') }}">{{ current_version }}</a>
            </div>
        </div>
        <div class="center">
            center-column
        </div>
        <div class="right">
            <div id="top-games" class="card">
                <h1>Top Games v3</h1>
                <ul>
                    {% for game in top_games %}
                    <li><a href="{{ url_for('game_log', game_number=game.id) }}">{{ game.username }} - {{ game.game_time | numberFormat(4) }}s</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div id="recent-games" class="card">
                <h1>Recent Games</h1>
                <ul>
                    {% for game in recent_games %}
                    <li><a href="{{ url_for('game_log', game_number=game.id) }}">{{ game.username }} - {{ game.game_time | numberFormat(4) }}s</a></li>
                    {% endfor %} 
                </ul>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function(){

            var socket = io.connect('https://' + document.domain + ':' + location.port + '/index');

            socket.on('connect', function() {
                $('#online-status').text('online');
            });

        });
    </script>
{% endblock %}