{% extends "base.html" %}
{% block title %}About ddstats{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}
<div id="download">
    <img src="{{ url_for('static', filename='img/sketch_skull3.png') }}">
    <h1>ddstats v{{releases.version}}<br/></h1>
      download: <a href="{{url_for('static', filename='releases/ddstats{}.zip'.format(releases.version))}}">v{{releases.version}}</a><br/>
      <ul>
          {% for change in releases.change_log %}
          <li>{{ change }}</li>
          {% endfor %}
      </ul>
</div>
{% endblock %}
