{% extends "base.html" %}
{% block title %}{{user_data.player_name}}{% endblock %}
{% block head %}
    {{ super() }}
    <script src="{{ url_for('bower.static', filename='jquery/dist/jquery.min.js') }}"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
{% endblock %}
{% block body %}

        <div id="user-card">
            <h1 id="usertitle">{{user_data.player_name}} ({{user_id}})</h1>
            <div id="live-stats">
              <h2 id="live-stats-title">LIVE STATS <img src="{{
              url_for('static', filename='img/viewers_skull_icon.png')}}"><span id="live-user-count"></span></h2>
              <h2 id="live-stats-status"></h2>
              <ul class="alignleft" id="live-left">
                <li>TIME: <span id="live-game-time"></span></li>
                <li>GEMS: <span id="live-gems"></span></li>
                <li>HOMING DAGGERS: <span id="live-homing-daggers"></span></li>
                <li>ACCURACY: <span id="live-accuracy"></span></li>
              </ul>
              <ul class="alignright" id="live-right">
                <li>ENEMIES ALIVE: <span id="live-enemies-alive"></span></li>
                <li>ENEMIES KILLED: <span id="live-enemies-killed"></span></li>
                <li>DAGGERS HIT: <span id="live-daggers-hit"></span></li>
                <li>DAGGERS FIRED: <span id="live-daggers-fired"></span></li>
              </ul>
              <div style="clear: both;"></div>
            </div>
            <ul class="alignleft" id="userleft">
                <li>Rank: {{user_data.rank|numberFormat}}</li>
                <li>Time: {{user_data.time|numberFormat(4)}}s</li>
                <li>Gems: {{user_data.gems|numberFormat}}</li>
                <li>Kills: {{user_data.kills|numberFormat}}</li>
                <li>Accuracy: {{user_data.accuracy}}%</li>
            </ul>
            <ul class="alignright" id="userright">
                <li>Total Deaths: {{user_data.deaths_total|numberFormat}}</li>
                <li>Total Time: {{user_data.time_total|numberFormat(4)}}s</li>
                <li>Total Gems: {{user_data.gems_total|numberFormat}}</li>
                <li>Total Kills: {{user_data.kills_total|numberFormat}}</li>
                <li>Total Accuracy: {{user_data.accuracy_total}}%</li>
            </ul>
            <div style="clear: both;"></div>
        </div>
        <div id="games-list">
    {% for game in games.items %}
        <a href="{{ url_for('game_log', game_number=game.id) }}">
          <div id="stats-card">
              <h2 class="alignleft">Game {{game.id}}</h1>
              <!-- <h2 class="alignright">{{player_name}} ({{player_id}})</h1> -->
              <div style="clear: both;"></div>
              <ul class="alignleft" id="statsleft">
                  <li>Time: {{game.game_time|round(4)}}</li>
                  <li>Gems: {{game.gems}}</li>
                  <li>Homing Daggers: {{game.homing_daggers}}</li>
                  <li>Enemies Alive: {{game.enemies_alive}}</li>
                  <li>Enemies Killed: {{game.enemies_killed}}</li>
              </ul>
              <ul class="alignright" id="statsright">
                  {% if game.death_type == -1 %}
                      <li>Death: RESTART</li>
                  {% else %}
                      <li>Death: {{death_types[game.death_type]}}</li>
                  {% endif %}
                  {% if game.daggers_fired != 0 %}
                      <li>Accuracy: {{((game.daggers_hit/game.daggers_fired)*100)|round(2)}}%</li>
                  {% else %}
                      <li>Accuracy: 0.0%</li>
                  {% endif %}
                  <li>Daggers Hit: {{game.daggers_hit}}</li>
                  <li>Daggers Fired: {{game.daggers_fired}}</li>
                  <li>{{game.time_stamp|time_ago}}</li>
              </ul>
              <div style="clear: both;"></div>
              <div id="statsfooter">
              {% if game.replay_player_id > 0 %}
                  <span id="submitter" class="alignright">Replay recorded by {{game.player_id|get_username}} ({{game.player_id}})</span>
              {% endif %}
              <div style="clear: both;"></div>
              </div>
            </div>
            </a>
    {% endfor %}
        </div>
        <div id="pagination">
        {% if games.has_next %}
            <a href="{{ url_for('user_page', user_id=user_id, page_num=games.next_num) }}">Prev</a>    
        {% endif %}
        {% if games.has_prev %}
            <a href="{{ url_for('user_page', user_id=user_id, page_num=games.prev_num) }}">Next</a>    
        {% endif %}
        </div>
        <script>
            var last_gems = 0;
            var last_homing = 0;
            var display_gems_and_homing = true;
            var display_timeout_handle = setTimeout(function() {
                $('#live-gems').text('CLICK TO SHOW');
                $('#live-homing-daggers').text('CLICK TO SHOW');
                display_gems_and_homing = false;
            }, 60000);

            $(document).ready(function(){
                var death_types = ["FALLEN", "SWARMED", "IMPALED", "GORED",
                                   "INFESTED", "OPENED", "PURGED", "DESECRATED",
                                   "SACRIFICED", "EVISCERATED", "ANNIHILATED", "INTOXICATED",
                                   "ENVENMONATED", "INCARNATED", "DISCARNATED", "BARBED"];

                var socket = io.connect('https://' + document.domain + ':'
                    + location.port + '/user_page');

                $('#live-stats').on('click', function() {
                    $('#live-gems').text(last_gems);
                    $('#live-homing-daggers').text(last_homing);
                    display_gems_and_homing = true;
                    clearTimeout(display_timeout_handle);
                    display_timeout_handle = null;
                    display_timeout_handle = setTimeout(function() {
                        $('#live-gems').text('CLICK TO SHOW');
                        $('#live-homing-daggers').text('CLICK TO SHOW');
                        display_gems_and_homing = false;
                    }, 60000);
                });

                socket.on('connect', function() {
                    socket.emit('join', '{{user_id}}');
                });
                socket.on('update_user_count', function(user_count) {
                    $('#live-user-count').text(user_count);
                });
                socket.on('receive', function(game_time, gems, homing_daggers,
                      enemies_alive, enemies_killed, daggers_hit,
                      daggers_fired, level_two, level_three, level_four,
                      is_replay, death_type) {
                    $('#live-stats').show(350);
                    $('#live-game-time').text(game_time.toFixed(4));
                    last_gems = gems;
                    last_homing = homing_daggers;
                    if (display_gems_and_homing) {
                        $('#live-gems').text(gems);
                        $('#live-homing-daggers').text(homing_daggers);
                    } else {
                        $('#live-gems').text('CLICK TO SHOW');
                        $('#live-homing-daggers').text('CLICK TO SHOW');
                    }
                    $('#live-enemies-alive').text(enemies_alive);
                    $('#live-enemies-killed').text(enemies_killed);
                    $('#live-daggers-hit').text(daggers_hit);
                    $('#live-daggers-fired').text(daggers_fired);
                    if (daggers_fired > 0) {
                      accuracy = (daggers_hit/daggers_fired) * 100;
                    } else {
                      accuracy = 0.0;
                    }
                    $('#live-accuracy').text(accuracy.toFixed(2) + '%');

                    if (death_type === -1 && is_replay===true) {
                      $('#live-stats-status').css('color', '#1070BF');
                      $('#live-stats').css('border-color', '#34A61C');
                      $('#live-stats-status').text('WATCHING REPLAY');
                    } else if (death_type === -1) {
                      $('#live-stats-status').css('color', '#1070BF');
                      $('#live-stats').css('border-color', '#34A61C');
                      $('#live-stats-status').text('ALIVE');
                    } else if (death_type === -2) {
                      $('#live-stats-status').css('color', '#1070BF');
                      $('#live-stats').css('border-color', '#1070BF');
                      $('#live-stats-status').text('IN MENU');
                    } else {
                      $('#live-stats-status').css('color', '#9A1000');
                      $('#live-stats').css('border-color', '#9A1000');
                      $('#live-stats-status').text(death_types[death_type]);
                    }
                });
            });
        </script>
{% endblock %}
