{% extends "base.html" %}
{% block title %}{{user_data.player_name}}{% endblock %}
{% block head %}
    {{ super() }}
    <script src="{{ url_for('bower.static', filename='jquery/dist/jquery.min.js') }}"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
{% endblock %}
{% block body %}

        <div id="user-card">
            <h1 id="usertitle">{{user_data.player_name}} ({{user_id}})</h1>
            <div id="live-stats">
              <h2 id="live-stats-title"></h2>
              <h2 id="live-stats-status"></h2>
              <ul class="alignleft" id="live-left">
                <li>TIME: <span id="live-game-time"></span></li>
                <li>GEMS: <span id="live-gems"></span></li>
                <li>HOMING DAGGERS: <span id="live-homing-daggers"></span></li>
                <li>ACCURACY: <span id="live-accuracy"></span></li>
              </ul>
              <ul class="alignright" id="live-right">
                <li>ENEMIES ALIVE: <span id="live-enemies-alive"></span></li>
                <li>ENEMIES KILLED: <span id="live-enemies-killed"></span></li>
                <li>DAGGERS HIT: <span id="live-daggers-hit"></span></li>
                <li>DAGGERS FIRED: <span id="live-daggers-fired"></span></li>
              </ul>
              <div style="clear: both;"></div>
            </div>
            <ul class="alignleft" id="userleft">
                <li>Rank: {{user_data.rank|numberFormat}}</li>
                <li>Time: {{user_data.time|numberFormat(4)}}s</li>
                <li>Gems: {{user_data.gems|numberFormat}}</li>
                <li>Kills: {{user_data.kills|numberFormat}}</li>
                <li>Accuracy: {{user_data.accuracy}}%</li>
            </ul>
            <ul class="alignright" id="userright">
                <li>Total Deaths: {{user_data.deaths_total|numberFormat}}</li>
                <li>Total Time: {{user_data.time_total|numberFormat(4)}}s</li>
                <li>Total Gems: {{user_data.gems_total|numberFormat}}</li>
                <li>Total Kills: {{user_data.kills_total|numberFormat}}</li>
                <li>Total Accuracy: {{user_data.accuracy_total}}%</li>
            </ul>
            <div style="clear: both;"></div>
        </div>
    {% for game in games.items %}
        </div>
        <a href="{{ url_for('game_log', game_number=game.id) }}">
        <div id="stats-card">
            <h2 class="alignleft">Game {{game.id}}</h1>
            <!-- <h2 class="alignright">{{player_name}} ({{player_id}})</h1> -->
            <div style="clear: both;"></div>
            <ul class="alignleft" id="statsleft">
                <li>Time: {{game.game_time|round(4)}}</li>
                <li>Gems: {{game.gems}}</li>
                <li>Homing Daggers: {{game.homing_daggers}}</li>
                <li>Enemies Alive: {{game.enemies_alive}}</li>
                <li>Enemies Killed: {{game.enemies_killed}}</li>
            </ul>
            <ul class="alignright" id="statsright">
                {% if game.death_type == -1 %}
                    <li>Death: RESTART</li>
                {% else %}
                    <li>Death: {{death_types[game.death_type]}}</li>
                {% endif %}
                {% if game.daggers_fired != 0 %}
                    <li>Accuracy: {{((game.daggers_hit/game.daggers_fired)*100)|round(2)}}%</li>
                {% else %}
                    <li>Accuracy: 0.0%</li>
                {% endif %}
                <li>Daggers Hit: {{game.daggers_hit}}</li>
                <li>Daggers Fired: {{game.daggers_fired}}</li>
                <li>{{game.time_stamp|time_ago}}</li>
            </ul>
            <div style="clear: both;"></div>
            <div id="statsfooter">
            {% if game.replay_player_id > 0 %}
                <span id="submitter" class="alignright">Replay recorded by {{game.player_id|get_username}} ({{game.player_id}})</span>
            {% endif %}
            <div style="clear: both;"></div>
            </div>
        </div>
        </a>
    {% endfor %}
        <div id="pagination">
        {% if games.has_next %}
            <a href="{{ url_for('user_page', user_id=user_id, page_num=games.next_num) }}">Prev</a>    
        {% endif %}
        {% if games.has_prev %}
            <a href="{{ url_for('user_page', user_id=user_id, page_num=games.prev_num) }}">Next</a>    
        {% endif %}
        </div>
        <script>
            $(document).ready(function(){
                var death_types = ["FALLEN", "SWARMED", "IMPALED", "GORED",
                                   "INFESTED", "OPENED", "PURGED", "DESECRATED",
                                   "SACRIFICED", "EVISCERATED", "ANNIHILATED", "INTOXICATED",
                                   "ENVENMONATED", "INCARNATED", "DISCARNATED", "BARBED"];

                var socket = io.connect('https://' + document.domain + ':'
                    + location.port + '/{{user_id}}');
                socket.on('receive', function(game_time, gems, homing_daggers,
                      enemies_alive, enemies_killed, daggers_hit,
                      daggers_fired, level_two, level_three, level_four,
                      is_replay, death_type) {
                    $('#live-stats-title').text('LIVE STATS');
                    $('#live-stats').show(350);
                    $('#live-game-time').text(game_time.toFixed(4));
                    $('#live-gems').text(gems);
                    $('#live-homing-daggers').text(homing_daggers);
                    $('#live-enemies-alive').text(enemies_alive);
                    $('#live-enemies-killed').text(enemies_killed);
                    $('#live-daggers-hit').text(daggers_hit);
                    $('#live-daggers-fired').text(daggers_fired);
                    if (daggers_fired > 0) {
                      accuracy = (daggers_hit/daggers_fired) * 100;
                    } else {
                      accuracy = 0.0;
                    }
                    $('#live-accuracy').text(accuracy.toFixed(2) + '%');

                    if (death_type === -1) {
                      $('#live-stats-status').css('color', '#1070BF');
                      $('#live-stats-status').text('ALIVE');
                    } else if (death_type === -2) {
                      $('#live-stats-status').css('color', '#1070BF');
                      $('#live-stats-status').text('IN MENU');
                    } else {
                      $('#live-stats-status').css('color', '#9A1000');
                      $('#live-stats-status').text(death_types[death_type]);
                    }
                });
            });
        </script>
{% endblock %}
