{% extends "base.html" %}
{% block title %}Users{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}

        <h1 id="usertitle">Users</h1>
    <div style="text-align: center">
    {% for user in users %}
    {% if user.id != -1 %}
    {% if user.player_id in live_users %}
    <span style="color: #34A61C;">&#9673;</span> 
    {% endif %}
    <a style="color: #DDD;" href="{{ url_for('user_page', user_id=user.player_id, page_num=1) }}">{{ user.player_name }}</a>
    <br />
    {% endif %}
    {% endfor %}
    </div>
{% endblock %}
